.set-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-error {
  text-align: center;
  margin-top: 7px !important;
  font-size: 13px !important;
}

.set-password {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 8px 16px 0px rgb(224, 250, 224);
  width: 500px;
  padding: 20px;
  padding-bottom: 20px;
}

.change-password-heading {
  color: green;
  text-align: center;
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 450;
  margin-bottom: 30px;
}

.set-password-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(185, 238, 182);
}

.error-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.set-password-label {
  margin-top: 30px;
  font-family: 'Roboto';
  font-weight: 450;
  font-size: 13px;
  color: rgb(115, 110, 110);
  margin-bottom: 5px;
}

.set-password-btn {
  background-color: rgb(61, 178, 145);
  color: white;
  padding: 12px 15px;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 450;
  font-family: 'Roboto';
}

.set-password-btn:hover {
  background-color: rgb(6, 98, 67);
}

.error-txt {
  color: rgb(154, 17, 17);
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 450;
  margin-top: 3px;
}

.change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.change-password {
  border: 1px solid rgb(215, 213, 213);
}

.change-password-heading {
  border-bottom: 1px solid black;
}
