.carousel-container {
  height: 500px;
  font-family: 'Roboto';
  background-color: rgb(241, 239, 239);
}

.carousel-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.carousel-img {
  width: 45%;
  margin-top: 20px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.carousel-content {
  align-items: center;
  margin-right: 30px;
  width: 40%;
}

.web-title {
  color: rgb(12, 119, 101);
  font-size: 25px;
  font-weight: lighter;
  font-family: Verdana;
}

.carousel-heading {
  font-size: 50px;
  font-family: Verdana;
  font-weight: bold;
  color: rgb(78, 71, 71);
}

.poet {
  text-align: right;
  font-family: 'Bree Serif';
}

.read-more-btn {
  background-color: rgb(45, 170, 128);
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
}

.slick-next {
  color: black !important;
  border: 1px solid black;
  z-index: -2 !important;
  display: inline-block !important;
  display: none !important;
}

.slick-prev {
  color: black !important;
  border: 1px solid black;
  z-index: -2 !important;
  display: none !important;
}

.read-tag {
  color: white;
}

@media (max-width: 780px) {
  .carousel-img {
    width: 80%;
    margin-bottom: 30px;
  }

  .carousel-content {
    width: 70%;
  }

  .carousel-item {
    flex-direction: column;
  }

  .carousel-container {
    height: 100%;
  }

  .carousel-heading {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .carousel-content {
    width: 80%;
    align-self: center;
  }

  .carousel-heading {
    font-size: 40px;
  }
}

/* @media (max-width: 650px) {
  .carousel-img {
    width: 250px;
    height: 300px;
  }

  .carousel-container {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .carousel-img {
    width: 250px;
    height: 300px;
  }

  .carousel-container {
    height: 300px;
  }

  .web-title {
    font-size: 20px;
    font-weight: bold;
  }

  .carousel-heading {
    font-size: 15px;
    font-weight: 450;
  }

  .poet {
    font-style: italic;
    font-size: 10px;
  }

  .carousel-content {
    margin-right: 10px;
    margin-left: 10px;
  }
} */

/* @media (max-width: 400px) {
  .carousel-img {
    width: 200px;
    height: 100%;
  }
} */
