.related-item {
  box-shadow: 4px 8px 16px 0px rgb(214, 214, 214);
  border-radius: 5px;
  padding: 40px;
  margin-right: 40px;
}

.related-img {
  width: 170px;
  height: 230px;
}

.related-content {
  display: flex;
  justify-content: space-between;
}
