/* Write your CSS code here */
.nav-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  align-items: center;
  border-bottom: 1px solid rgb(233, 228, 228);
}

.title-pre-heading {
  font-size: 30px;
  color: rgba(19, 22, 85, 0.814);
  font-family: 'Open Sans';
  font-weight: bold;
}

.website-title-heading {
  font-size: 30px;
  color: rgb(67, 67, 246);
  font-family: 'Open Sans';
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 20px;
}

.nav-items-list {
  display: flex;
  margin-bottom: 0px;
}

.login-register-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.nav-link {
  text-decoration: none;
  color: rgb(61, 59, 59);
  font-weight: 500;
}

.nav-item {
  margin-right: 40px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.login {
  font-size: 15px;
  font-weight: 400;
  margin-right: 50px;
  cursor: pointer;
  margin-bottom: 0px;
}

.logout-btn {
  background-color: blue;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  padding: 7px 15px;
  margin-right: 20px;
}

.user-data {
  padding: 5px;
  font-weight: 410;
  font-family: 'Roboto';
  border: 1px solid grey;
  border-radius: 3px;
}
