/* Write your CSS code here */
.nav-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  align-items: center;
  border-bottom: 1px solid rgb(233, 228, 228);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #ffffff;
}

.title-pre-heading {
  font-size: 30px;
  color: rgba(19, 22, 85, 0.814);
  font-family: 'Open Sans';
  font-weight: bold;
}

.website-title-heading {
  font-size: 30px;
  color: rgb(67, 67, 246);
  font-family: 'Open Sans';
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
}

.nav-items-list {
  display: flex;
  margin-bottom: 0px;
  align-items: center;
}

.login-register-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.nav-link {
  text-decoration: none;
  color: rgb(61, 59, 59);
  font-weight: 500;
  margin-left: 20px;
}

.nav-item {
  margin-right: 40px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.login {
  font-size: 15px;
  font-weight: 400;
  margin-right: 50px;
  cursor: pointer;
  margin-bottom: 0px;
}

.logout-btn {
  background-color: blue;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  padding: 7px 15px;
  margin-right: 20px;
}

.user-data {
  padding: 5px;
  font-weight: 410;
  font-family: 'Roboto';
  border: 1px solid grey;
  border-radius: 3px;
}

.cart-item-count {
  background-color: rgb(163, 181, 246);
  color: rgb(255, 255, 255);
  padding: 3px;
  border-radius: 5px;
  margin-right: 3px;
  font-size: 12px;
}

.nav-cart {
  border-radius: 3px;
  /* box-shadow: 4px 8px 16px 0px rgb(230, 231, 230); */
  padding: 10px 15px;
  text-decoration: none;
}

.drop-down-menu {
  display: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

.cart-nav {
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

.menu-btn {
  color: grey;
  font-size: 30px;
}

.dropdown {
  margin-right: 5px;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: grey;
}

.custom-dropdown {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: grey;
}

.drop-cancel-btn {
  align-self: flex-end;
}

.drop-cancel-icon {
  font-size: 25px;
  color: rgb(185, 180, 180);
}

.drop-cancel-icon:hover {
  color: black;
}

.dropdown-menu {
  box-shadow: 4px 8px 16px 0px #bfbf;
}

/* .dropdown-item {
  text-align: right;
} */

.nav-drop-item {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 450;
  padding-bottom: 10px;
}

.nav-drop-item:hover {
  letter-spacing: 2px;
  transition: 0.2s ease-out 0.1s;
}

.close-drop {
  display: none;
}

@media (max-width: 1020px) {
  .drop-down-menu {
    display: flex;
    flex-direction: column;
  }

  .nav-toggle-items {
    display: none;
  }
  .nar-item {
    margin-right: 0px;
  }
}

@media (max-width: 490px) {
  .website-title-heading {
    font-size: 100%;
  }
}
