.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6efef;
}

.register-container {
  display: flex;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 80vw;
  justify-content: space-between;
}

.register-image {
  width: 50%;
  height: 50%;
  align-self: center;
}

.register-input-field {
  display: flex;
  align-items: flex-start;
}

.register-input-item {
  margin-bottom: 20px;
}

.register-input {
  width: 100%;
  padding: 10px;
  border-width: 0px;
  border-radius: 3px;
  color: black;
  font-weight: 400;
  background-color: #ecf6fb;
}

.otp-container {
  display: flex;
  width: 90%;
  align-self: flex-end;
  border-radius: 5px;
  align-items: center;
}

.otp-input {
  margin-bottom: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
}

.otp-btn {
  background-color: rgb(24, 24, 136);
  color: white;
  font-family: 'Roboto';
  font-weight: 450;
  width: 35%;
  padding: 10px 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.register-form-field {
  box-shadow: 0px 4px 16px 0px #e0dfdf;
  text-align: center;
  width: 400px;
  padding: 20px 40px;
}

.register-icon {
  font-size: 25px;
  margin-top: 5px;
  color: rgb(44, 42, 42);
  margin-right: 10px;
}

.register-btn {
  color: white;
  background-color: rgb(81, 81, 229);
  border-radius: 5px;
  padding: 10px 40px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
}

.register-heading {
  font-size: 40px;
  margin-bottom: 50px;
  font-family: 'Bree Serif';
  color: rgb(19, 19, 151);
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-error-msg {
  margin-top: 3px;
  color: red;
  font-size: 12px;
  font-weight: 500;
}

.register-top-heading {
  display: none;
}

.already-logged-txt {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
}

.log-here-txt {
  font-weight: 450;
}

.blur-msg {
  text-align: left;
  margin-left: 33px;
}

@media (max-width: 1101px) {
  .otp-btn {
    width: 28%;
    padding: 10px 3px;
  }

  .otp-container {
    width: 92%;
  }

  .register-container {
    flex-direction: column;
    align-items: center;
  }

  .register-image {
    width: 320px;
    height: 200px;
  }

  .register-form-field {
    box-shadow: none;
    padding: 0px;
  }

  .register-heading {
    display: none;
  }

  .register-top-heading {
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Bree Serif';
    text-align: center;
    margin-top: 0px;
    display: block;
    color: rgb(43, 52, 236);
  }
}

@media (max-width: 420px) {
  .register-container {
    width: 100vw;
    padding: 20px;
    padding-right: 10px;
  }

  .register-form-field {
    width: 100%;
    padding: 10px;
  }

  .register-image {
    width: 80%;
    height: 70%;
  }

  .otp-btn {
    width: 40%;
  }
}

@media (max-width: 300px) {
  .otp-btn {
    width: 50%;
  }
}
