.payment-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.payment-btn {
  background-color: rgb(21, 52, 88);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.payment-btn:hover {
  letter-spacing: 2px;
}

.pay-box {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0px rgb(180, 219, 184);
}
